<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @hint.content %>
</p>

<p>
  <strong>Quiz:</strong>
  <%= @hint.quiz_id %>
</p>

<%= link_to 'Edit', edit_hint_path(@hint) %> |
<%= link_to 'Back', hints_path %>
